{% load static %}
<head> 
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
    <div class="navbar">
        <a href="{% url 'recipes:home' %}" class="logo">MyWebsite</a>
            <a href="{% url 'recipes:about' %}">About</a>
            <a href="{% url 'recipes:list' %}">Recipes</a>
            <a href="{% url 'recipes:add_recipe' %}">Add Recipe</a>

            <div class = "log">
            <a  href="{% url 'logout' %}">Logout</a>
            </div>
        
</div>
<h2> Search for sales records</h2>

<hr>
<form action="" method="POST">
    {% csrf_token %}
    {{form}}
    <button type="submit" >search</button>

</form>


<br>

{% if name_df %}
    {{ name_df|safe }}
    
    <br>
    <h2><a href="{{ recipe.get_absolute_url }}">{{ recipe.name }}</a></a></h2>
    <img src="data:image/png;base64,{{ chart|safe }}" alt="Chart">
{% else %}
   
{% endif %}
